<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head th:replace="fragments/head :: headFragment"></head>

    <body id="page-top">
        <div id="wrapper">
            <div th:replace="fragments/header :: headerFragment"></div>

            <div id="content-wrapper" class="d-flex flex-column" layout:fragment="content">
                
            </div>
            <footer th:replace="fragments/footer :: footerFragment"></footer>
        </div>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

    <th:block th:replace="fragments/script :: scriptFragment"></th:block>
    </body>

</html>