<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <title>view</title>
</head>

<!-- board.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- board.html 고유 script 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mt-2 mb-2 text-gray-800">게시판</h1>
        <p class="mb-4">상세보기</p>

        <div class="row">
            <div class="col-6">
                <form name="boardForm" id="boardForm">
                    <input type="hidden" name="boardSeq" id="boardSeq" th:value="${boardSeq}"/>
                    <div class="form-group">
                        <label for="boardTitle">제목</label>
                        <input type="text" class="form-control" id="boardTitle" name="boardTitle" placeholder="제목" th:value="${boardTitle}" readonly>
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.
                        </small>-->
                    </div>
                    <div class="form-group">
                        <label for="boardContents">내용</label>
                        <textarea class="form-control" id="boardContents" name="boardContents" rows="5" th:text="${boardContents}" readonly></textarea>
                    </div>
                    <!--<div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>-->
                    <a type="button" class="btn btn-secondary" th:href="@{/boards}">목록</a>
                    <a type="submit" th:if="${owener}" class="btn btn-primary" th:href="@{/boards/form/{boardSeq}(boardSeq=${boardSeq})}">수정</a>
                    <a type="button" th:if="${owener}" class="btn btn-danger" onclick="onDelete()">삭제</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script layout:fragment="pageScript">
    function onUpdate() {
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: "/boards/" + $("#boardSeq").val(),
            dataType: 'json',
            // async: true,
            success: function (data) {
                alert(data.message);
                if (data.result) window.location = "/";
            },
            error: function (data) {
                alert('수정 중 오류가 발생하였습니다');
            }
        })
    }

    function onDelete() {
        alert("delete");
        $.ajax({
            type: "DELETE",
            contentType: "application/json",
            url: "/boards/" + $("#boardSeq").val(),
            dataType: "json",
            success: function (data) {
                alert(data.message);
                if (data.result) history.back();
            },
            error: function (data) {
                alert('삭제 중 오류가 발생하였습니다');
            }
        });
    }
</script>

</html>