<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<title>board</title>

<!-- board.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- board.html 고유 script 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">

    <table class="table table-striped table-hover">
        <colgroup>
            <col th:width="10">
            <col th:width="30">
            <col th:width="50">
            <col th:width="30">
            <col th:width="30">
        </colgroup>
        <thead>
        <tr>
            <th>글 번호</th>
            <th>글 제목</th>
            <th>글 내용</th>
            <th>글쓴이</th>
            <th>글쓴이 번호</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board: ${boardList}">
            <td th:text="${board.boardSeq}"></td>
            <td th:text="${board.boardTitle}"></td>
            <td th:text="${board.boardContents}"></td>
            <td th:text="${board.member.memberName}"></td>
            <td th:text="${board.member.memberMobile}"></td>
        </tr>
        </tbody>
    </table>

    <hr/>
    <a type="button" class="btn btn-outline-secondary float-right" th:href="@{/boards/form}">글쓰기</a>

    <nav class="row justify-content-md-center">
        <!--<div aria-label="Page navigation example">-->
        <ul class="pagination" th:with="start=${T(Math).floor(boardList.number/10)*10 + 1}, last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
            <li class="page-item">
                <a th:href="@{/boards(page=1)}" aria-label="First" class="page-link">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${boardList.first} ? 'disabled page-item' : 'page-item'">
                <a th:href="${boardList.first} ? '#' :@{/boards(page=${boardList.number})}" aria-label="Previous" class="page-link">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active page-item' : 'page-item'">
                <a th:text="${page}" th:href="@{/boards(page=${page})}" class="page-link"></a>
            </li>

            <li th:class="${boardList.last} ? 'disabled page-item' : 'page-item'">
                <a th:href="${boardList.last} ? '#' : @{/boards(page=${boardList.number + 2})}" aria-label="Next" class="page-link">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li class="page-item">
                <a th:href="@{/boards(page=${boardList.totalPages})}" aria-label="Last" class="page-link">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
        <!--</div>-->
    </nav>

</div>
</html>