<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block <!--bg-login-image-->"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                                </div>
                                <form class="user" name="loginForm" id="loginForm" >
                                    <div class="form-group">
                                        <label for="memberId">ID</label>
                                        <div class="form-inline">
                                            <input type="text" class="form-control form-control-user mr-3" id="memberId"
                                                   name="memberId" aria-describedby="emailHelp" placeholder="아이디"
                                                   title="아이디" required>
                                            <a role="button" class="btn btn-primary" href="javascript:"
                                               onclick="duplicateCheck()">중복확인</a>
                                            <input type="hidden" name="isDuplicate" id="isDuplicate"/>
                                            <small id="duplicateHelp" class="form-text text-muted text-center"></small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="memberPassword">비밀번호</label>
                                        <input type="password" class="form-control form-control-user"
                                               id="memberPassword" name="memberPassword" placeholder="비밀번호" title="비밀번호"
                                               required>
                                    </div>
                                    <div class="form-group">
                                        <label for="memberName">이름</label>
                                        <input type="text" class="form-control form-control-user"
                                               id="memberName" name="memberName" placeholder="이름" title="이름" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="memberMobile-2">핸드폰</label>
                                        <div class="row">
                                            <div class="input-group col-4">
                                                <select class="form-control custom-select" name="memberMobile-1"
                                                        id="memberMobile-1">
                                                    <option value="010">010</option>
                                                    <option value="011">011</option>
                                                    <option value="016">016</option>
                                                </select>
                                            </div>
                                            <div class="col-4">
                                                <input type="number" size="4" class="form-control" name="memberMobile-2"
                                                       id="memberMobile-2">
                                            </div>
                                            <div class="col-4">
                                                <input type="number" size="4" class="form-control" name="memberMobile-3"
                                                       id="memberMobile-3">
                                            </div>
                                            <input type="hidden" name="memberMobile" id="memberMobile">
                                        </div>
                                    </div>
                                    <a role="button" class="btn btn-primary btn-user btn-block" onclick="join()" href="javascript:">가입</a>
                                    <a role="button" class="btn btn-dark btn-user btn-block" onclick="history.back()" href="javascript:">뒤로</a>
                                </form>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- 공통 스크립트-->
<th:block th:replace="fragments/script :: scriptFragment"></th:block>

<script layout:fragment="pageScript">

    function join() {

        $("#memberMobile").val(
            $("#memberMobile-1").val() + $("#memberMobile-2").val() + $("#memberMobile-3").val()
        );
        var data = $('form').serializeJSON();


        if (columnValidate('loginForm')) {
            if ($("#isDuplicate").val() != "Y") {
                alert("아이디 중복체크를 해주세요.");
                return;
            }

            $.ajax({
                type: "POST",
                contentType: "application/json",
                url: "/join",
                data: data,
                dataType: 'json',
                success: function (data) {
                    alert(data.message);
                    if (data.result) window.location = "/login";
                },
                error: function (data) {
                    console.error(data);
                    alert('수정 중 오류가 발생하였습니다');
                }
            })
        }
    }


    function duplicateCheck() {

        if ($("#memberId").val().trim() == "") {
            alert("ID를 입력해주세요.");
            $("#memberId").focus();
            return;
        }

        var data = {"memberId": $("#memberId").val()};

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/duplicate",
            dataType: 'json',
            data: JSON.stringify(data),
            success: function (data) {
                alert(data.message);
                if (data.result){
                    $("#isDuplicate").val("Y");
                    $("#duplicateHelp").html("<span class='text-success'>사용 가능한 아이디 입니다.</span>");
                }else{
                    $("#isDuplicate").val("N");
                    $("#duplicateHelp").html("<span class='text-danger'>사용 불가능한 아이디 입니다.</span>");
                }
            },
            error: function (data) {
                console.error(data);
                alert('수정 중 오류가 발생하였습니다');
            }
        })
    }
</script>

</body>
</html>