<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:replace="fragments/head :: headFragment"></th:block>

<body>

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block <!--bg-login-image-->"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div sec:authorize="isAnonymous()">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                                    </div>
                                    <p th:if="${loginError}" class="text-black-200" >일치하는 정보가 없습니다.</p>
                                    <form class="user" name="loginForm" id="loginForm" th:action="@{/login}" method="post">
                                        <div class="form-group">
                                            <input type="id" class="form-control form-control-user" id="memberId"
                                                   name="memberId" aria-describedby="emailHelp" placeholder="아이디">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                   id="memberPassword" name="memberPassword" placeholder="비밀번호">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">기억하기</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">로그인</button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/login}">비밀번호 찾기</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/join}">회원가입</a>
                                    </div>
                                </div>
                                <div sec:authorize="isAuthenticated()">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">로그인 중입니다.</h1>
                                    </div>
                                    <a class="btn btn-primary btn-user btn-block" th:href="@{/boards}">메인화면으로</a>
                                    <a class="btn btn-primary btn-user btn-block" th:href="@{/logout}">로그아웃</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<!-- 공통 스크립트-->
<th:block th:replace="fragments/script :: scriptFragment"></th:block>

</body>
</html>